h1 {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

h3 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

h5 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

h6 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

p {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

body {
  background: #2a2a2a;
  font-family: "Comic Neue", Arial, Helvetica, sans-serif;
  color: #eaeaea;
  padding: 2rem;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
}

.art {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  max-width: 550px;
  max-height: auto;
}
